*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-bottom: 1px #000 solid;
    display: flex;
    justify-content: space-around;
}

.nav-items{
    display: flex;
    padding: 10px;

}
.nav-items li, a{
    list-style: none;
    text-decoration: none;
    padding: 10px 5px;
}